body {
	background-color:#332a2b;
	font-family:sans-serif;
	
}
.name {
	color:white;
	width:29%;
	font-weight:bold;
	float:left;
}
.pname {
	color:white;
	width:40%;
	float:left;
}
.menu {
	color:white;
	width:29%;
	font-weight:bold;
	float:left;
	text-align:right;
}
.head{
	background-color:black;
}